/*
@import this file directly into your existing Scss files to use these mixins
*/
@mixin sprite-Content-image-sprites-partner-col-logo-Capsule() {
/* You may have to set 'display: block' */
	width: 184px;
	height: 66px;
	background: url('partner-ret-logos.png') -1px -1px;
}
@mixin sprite-Content-image-sprites-partner-col-logo-DragonInnovation() {
/* You may have to set 'display: block' */
	width: 184px;
	height: 66px;
	background: url('partner-ret-logos.png') -1px -68px;
}
@mixin sprite-Content-image-sprites-partner-col-logo-FBT() {
/* You may have to set 'display: block' */
	width: 184px;
	height: 66px;
	background: url('partner-ret-logos.png') -1px -135px;
}
@mixin sprite-Content-image-sprites-partner-col-logo-GO() {
/* You may have to set 'display: block' */
	width: 184px;
	height: 66px;
	background: url('partner-ret-logos.png') -1px -202px;
}
@mixin sprite-Content-image-sprites-partner-col-logo-Spotlight() {
/* You may have to set 'display: block' */
	width: 184px;
	height: 66px;
	background: url('partner-ret-logos.png') -1px -269px;
}
