/*
This is an example of how to use the image sprite in your own CSS files
*/
.partner-col-logo-startups {
/* You may have to set 'display: block' */
	width: 171px;
	height: 27px;
	background: url('partner-col-logos.png') -1px -1px;
}
.partner-col-logo-CES {
/* You may have to set 'display: block' */
	width: 283px;
	height: 90px;
	background: url('partner-col-logos.png') -1px -29px;
}
.partner-col-logo-Dragon {
/* You may have to set 'display: block' */
	width: 171px;
	height: 85px;
	background: url('partner-col-logos.png') -1px -120px;
}
.partner-col-logo-Ingram {
/* You may have to set 'display: block' */
	width: 171px;
	height: 27px;
	background: url('partner-col-logos.png') -1px -206px;
}
.partner-col-logo-Sprosty-Network {
/* You may have to set 'display: block' */
	width: 172px;
	height: 46px;
	background: url('partner-col-logos.png') -1px -234px;
}
